@use "variables";

@font-face {
	font-family: "Banders-Regular";
	src: url("../assets/fonts/Bangers-Regular.ttf");
	font-weight: normal;
}

html {
	font-family: "Banders-Regular", sans-serif;
	font-size: 26px;
	height: 100%;
}
body {
	height: 100%;
}